

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  border: solid 10px #7f89814a;
  margin: 30px;
  border-radius: 30px;
  min-height: 90vh;
  width: 100%;
}

.panels {
  display: flex;
}

.leftpanel {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  color :white;
}

.leftpaneltop {
  flex: 70%;
  display: flex;
  justify-content: space-between;
  
}


.rightpanel {
  width: 30%;
  height: 100vh;
  border-radius: 0 20px 20px 0;
  backdrop-filter: blur(24px); /* Ajusta el valor de desenfoque según tus preferencias */
}



.full-width {
  width: 100%;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white
}
.cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  min-width: 100%;
}

.small-cards{
  display: flex;
  justify-content: space-between;

}
